# Database
DATABASE_URL="postgresql://postgres:password123@localhost:5433/next_launch_kit"
# DATABASE_URL="postgresql://postgres:password123@localhost:5433/next_launch_kit_test" --> to run the test database.

# Next.js
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key

# Development
NODE_ENV="development"

# Google smpt
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email-address
SMTP_PASSWORD=your-password #https://support.google.com/accounts/answer/185833
SMTP_FROM="Next launch kit"